<div class="card">
    <div class="card-image" style="background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%), url({{ post.image }}) top/cover;min-height: 400px;">
        <!-- <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a> -->
    </div>
    <!-- <div class="card-content"> -->
        <!-- <div class="content">
            {% if post.image %}
            <a class="title is-4" href="{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% endif %}
        </div> -->
        <!-- <div class="has-text-centered">
            <a href="{{ post.url }}" class="button is-primary">Continua llegint</a>
        </div> -->
    <!-- </div> -->
    <!-- <footer class="card-footer">
        <p class="card-footer-item">Publicat el {{ post.date | date: "%d/%m/%Y" }}</p>
    </footer> -->
</div>